/*
TODO:
- JavaScript interaction /done/
- Mobile view /almost/
- More documentation /working/
- readme.md /done/
- Project webpages /when there are any/
- Links to project webpages /to be continued/
- internal links /done/
- Hamburger menu for mobile view
*/

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: black;
    background-color: white;
    opacity: 0.9;
    text-align: center;
    margin: 0px;
}
nav {
   /* position: fixed; removed to make it look better when internal links */
    background-color: black;
    width: 100%;
    height: 60px;
    padding: 0px 10px 0px 10px;
}
.homelogo {
    float: left;
    height: 50px;
}
nav img {
    justify-content: flex-start;
}
nav .navlink {
    float: right;
    color: grey;
    text-decoration: none;
    padding: 15px;
}
nav .navlink:hover {
    color: lightblue;
}
/* hamburger menu not visible in desktop view */
@media only screen and (min-width: 481px){
    .ham {
        display: none;
    }
}
/* hamburger menu for mobile version */
@media only screen and (max-width: 480px){
    .menu {
        float: right;
    }
    nav .navlink {
        display: none;
    }
    svg {
        cursor: pointer;
    }
}

/* hamburger menu for the second version
@media only screen and (max-width: 480px) {
.menu{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
   }
  svg {
    cursor: pointer;
    rect {
      transition: all .3s ease-in-out;
    }
    &:hover{
      .middle {
        x: 0;
        opacity: 0;
      }
      .top {
        transform: rotate(45deg);
        transform-origin: center top;
        x: 50px;
        y: 35px;
      }
      .bottom {
        transform: rotate(-45deg);
        transform-origin: center top;
        x: -20px;
        y: 25px;
      }
    }
  }
}
*/
  
  
header {
    /* padding-top: 60px; removed since not fixed navbar */
    color: black;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

/* Use of flex-box in main */
.picture_right, .picture_left {
    display: flex;
    justify-content: space-between;
}
/* places the picture to the right */ 
.picture_right .project_text {order: 1; width: 45%;}
.picture_right img {order: 2; width: 45%; border: 2px solid black; padding: 10px}

/* places the picture to the left */
.picture_left .project_text {order: 2; width: 45%;} 
.picture_left img {order: 1; width: 45%; border: 2px solid black; padding: 10px}

/* settings in main for mobile */
@media only screen and (max-width: 480px) {
    .picture_right, .picture_left {
      display: flex;
      flex-flow: column wrap;
        }
    .picture_right .project_text, .picture_left .project_text {order: 1; width: 100%;}
    .picture_right img, .picture_left img {order: 2; width: 100%;}
    }

/* Uses grid in footer */
footer {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    column-gap: 1em;
}
footer img, footer h3, footer div {
    border: 2px solid black;
}
#footerlogo {
    justify-self: center;
}
/* settings in footer for mobile */
@media only screen and (max-width: 480px) {
    footer {
      display: inline-block;
    }
}

.share-container{
    width: 300px;
    height: 75px;
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 50%);
  }
  #social-media{
    width: 300px;
    height: 75px;
    display: block;
    margin: 0 auto;
    border: none;
    background-color: white;
    border-radius: 30px;
    position: relative;
  }
  .social-button{
    display: contents;
    border: none;
    background: transparent;
    padding: 0px;
    margin: 15px 14px;
  }
  #share-button{
    width: 300px;
    height: 75px;
    display: block;
    margin: 0 auto;
    border: none;
    font-size: 24px;
    background-color: lightblue;
    letter-spacing: 1px;
    color: #141c3a;
    border-radius: 30px;
    position: relative;
    top: -75px;
    font-family: 'Nunito', sans-serif;
  }